* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  background: url("https://wallpaper.dog/large/20492370.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.container .sub__container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5), 0 0 0 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5), 0 0 0 100px rgba(0, 0, 0, 0.1);
  height: 90%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.container h1 {
  color: #ffff;
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 60px;
  font-weight: 700;
}

.container h1 span {
  font-weight: 800;
  font-size: 80px;
}

.container .about {
  color: #ffff;
  margin-bottom: 30px;
  text-align: center;
  line-height: 28px;
}

.container .countDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .countDown p {
  height: 100px;
  background: #ffff;
  border-radius: 24px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .countDown .daySpan::after {
  content: "Days";
  position: absolute;
  top: 120%;
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
}

.container .countDown .hoursSpan::after {
  content: "Hours";
  position: absolute;
  top: 120%;
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
}

.container .countDown .minSpan::after {
  content: "Minutes";
  position: absolute;
  top: 120%;
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
}

.container .countDown .secSpan::after {
  content: "Seconds";
  position: absolute;
  top: 120%;
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 10px;
  }
  .container h1 span {
    font-weight: 800;
    font-size: 60px;
    margin-left: 10px;
  }
  .container .about {
    margin-bottom: 15px;
  }
  .container .countDown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .countDown p {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .countDown .daySpan::after {
    content: "Days";
    position: absolute;
    top: 120%;
    color: #ffff;
    font-size: 14px;
  }
  .container .countDown .hoursSpan::after {
    content: "Hours";
    position: absolute;
    top: 120%;
    color: #ffff;
    font-size: 14px;
  }
  .container .countDown .minSpan::after {
    content: "Minutes";
    position: absolute;
    top: 120%;
    color: #ffff;
    font-size: 14px;
  }
  .container .countDown .secSpan::after {
    content: "Seconds";
    position: absolute;
    top: 120%;
    color: #ffff;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */